{
  "prefix": "?",
  "botToken": "123",
  "modules": ["Utility", "Fun"],
  "version": "0.1.0",
  "versioninfo": "Cleaned up a bit behind the scenes, updated version info.",
  "playing": "ready to ?help",
  "channelReacts": [
    {
      "channel": "765306866506661898",
      "react": "👋"
    }
  ],
  "mongodbURI": "mongodb://localhost:27017",
  "mongodbDatabase": "ph-core",
  "channels": {
    "welcome": "830101496892620861",
    "cafe": "829569744067362816"
  },
  "emotes": {
    "wave": "👋",
    "goodmorning": "🌄",
    "goodnight": "🌛"
  },
  "roles": {
    "verified": [
      "283378393406373888",
      "284114944243269642"
    ],
    "welcome": "830101559870095450"
  },
  "colors": {
    "embedColor": "#FF69B4"
  }
}
